body{
    font-family: 'Inter', sans-serif;
    background-color: #F9F9F9;
    .menu{
        border-bottom: solid 0.05vw rgb(175, 175, 175);
        font-size: 0.94vw;
        margin-top: 1vw;
        margin-left: 5vw;
        margin-right: 5vw;
        padding-bottom: 1vw;
        margin-bottom: 10vw;

        ul{
            margin-left: 3vw;
        }

        .singup{
            margin-left: 1vw;
            font-size: 0.94vw;
            font-family: 'Inter', sans-serif;
        }
        .login{
            margin-left: 3vw;
        }
    }
    .menu-contain{
        margin-left: 7vw;
    }
    .header-img{
        width:35.42vw ;
        height:31.61vw ;
        margin-left: 55vw;
        margin-top: 2.5vw;
    }
    .btn-menu{
        background-color: #6C5FBC;
        padding-top: 0.7vw;
        padding-bottom: 0.7vw;
        padding-left: 1vw;
        padding-right: 1vw;
        border-radius: 0.94vw;
        a{
            text-decoration: none;
        }
    }
    .header{
        margin-bottom: 5vw;
    }
    .img-cont{
        width: 42.86vw;
        height: 46.56vw;
        margin-left: 5vw;
    }
    .title-cont{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 2.08vw;
        margin-bottom: 3vw;
    }
    .contact-cont{
        width: 25.68vw;
        height: 10.36vw;
        border: #6C5FBC solid 0.13vw;
        border-radius: 1vw;
        p{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;  
            font-size: 1.25vw;
            margin-left: 1.5vw;
            margin-top: 1vw;
        }
        li{
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 1.25vw;
            margin-left: 1.5vw;
            margin-bottom: 0.8vw;
            color: #6C5FBC;
            span{
                color: black;
            }
        }
    
    }
    .contact-address{
        width: 25.68vw;
        height: 16.46vw;
        border: #6C5FBC solid 0.13vw;
        border-radius: 1vw;
        margin-top: 2vw;
        p{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;  
            font-size: 1.25vw;
            margin-left: 1.5vw;
            margin-top: 1vw;
        }
        li{
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 1.25vw;
            margin-left: 1.5vw;
            margin-bottom: 0.8vw;
            color: #6C5FBC;
            span{
                color: black;
            }
        } 
    }
    .btn-cont{
        width: 25.68vw;
        height: 2.96vw;
        background-color: #6C5FBC;
        border: none;
        border-radius: 0.6vw;
        margin-top: 2vw;
        a{
            text-decoration: none;
            font-size: 1.04vw;
            font-family: 'Poppins', sans-serif;
            font-weight: 400; 
        }
    }
    .text-cont{
        margin-left: 55vw;
        margin-top: -48vw;
    }
    .footer{
        
        background-color: #EAEAEA;
        margin-top: 18vw;
        padding-bottom: 3vw;
        .menu-foot{
            margin-right: 34vw;
            margin-left: -5vw;
            margin-top: 5vw;
            
        }
        a{
            text-decoration: none;
            font-size: 0.94vw;
            font-weight: 500;
            
        }
        .menu-col{
            margin-top: 5vw; 
        }
        .footer-menu{
            border-bottom: gray solid 0.05vw;
            padding-bottom: 2vw;
            margin-right: 2vw;
        }
        .logo-foot{
            width: 8vw;
            height: 2.97vw;
            margin-left: 5vw;
        }
        .sob{
            margin-right: 35vw;
            a{
                font-size: 0.89vw;
            }
        }
        .foot-text{
            margin-top: 3vw;
        }
        .icon{
            
            margin-left: -3vw;
            .img-foot{
                height: 1.1vw;
                width: 1.09vw;
            }
            .img-foot-1{
                height: 1.3vw;
                width: 0.8vw;
            
            }
        }
        
    }
}